.login_container {
    margin-top: 14rem;
    border: 2px solid red;
    height: 50vh;
    width: 35vw;
    margin: auto;
    border-radius: 20px;
    margin-top: 10rem;
}

@media screen and (min-width:300px) and (max-width:768px) {
    .login_container {
        width: 100vw;
        height: 100vh;
        border: none;
    }

    .register_input {
        width: 15rem;
        height: 4rem;
    }

    .register_btn {
        height: 3rem;
    }
}