 .video1{
    margin-top: 5rem;
    margin-left: 4rem;
}

#about{
    margin:4rem;
    /* background-color: white;
    color: black; */
}

.about_section{
    float: right;
    width:50%;
    margin:10rem;
}

.about__section{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

.btn{
    width:160px;
	height: 50px;
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    background-color: #FF1414;
    box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
    border-radius: 5px;
	color:#ffffff;
    cursor: pointer;
}

.about_heading{
    font-size: 2.4rem;
    color: #FF1414;
    font-weight: bold;
}


.about_section2 ul li{
    margin-right:10rem;
    margin-left: 2rem;
}

.about_heading2{
    font-size: 2.4rem;
    color: #FF1414;
    font-weight: bold;
    margin-left: 4.5rem;
}

.video2{
    margin-right: 6rem;
}

.about_list{
    font-size: 1.4rem;
    color: #FF1414;
    font-weight: bold;
    list-style: none;
}



@media screen and (min-width:300px) and (max-width:768px) {
    .about__section{
        display: block;
    }
    .video1{
        margin: 0;
    }
    .about_section, .about_section2{
        width: 100%;
        margin: 0;
    }
    .about_section2 ul li{
        margin:0;
        padding: 0;
    }

    .about_section2 h1{
        margin: 0;
    }

    .btn{
        margin-bottom: 3rem;
    }

    .video2{
        margin:3rem 0;
    }
}


