#pricing {
    display: flex;
    margin: 3rem;
}

#pricing ul li {
    margin-top: 1rem;
}

.pricing_card1 {
    background-color: rgb(57, 56, 56);
    height: 29rem;
    width: 19rem;
    margin: 2rem;
    margin-top: 5rem;
    transition: 0.5s linear;
}

.pricing_card1:hover {
    background-color: rgb(78, 75, 75);
    /* height: 30rem; */
    /* width: 50rem; */
}

.pricing_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pricing_card1 ul {
    font-size: 1.1rem;
}

.pricing_card2 ul {
    font-size: 1.2rem;
}

.pricing_check {
    margin-right: 1rem;
}

.pricing_check2,
.pricing_check3 {
    margin-right: 1rem;
    color: green;
}


.pricing_btn {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: black;
    background-color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 8rem;
}


.pricing_pass {
    color: green;
}

.pricing_card2 {
    background-color: white;
    color: black;
    height: 35rem;
    width: 19rem;
    margin: 2rem;
}

.pricing_btn2 {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    background-color: green;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 8rem;
}

.pricing_card3 {
    background-color: black;
    height: 30rem;
    width: 32rem;
    margin: 2rem;
}


@media screen and (min-width:300px) and (max-width:768px) {
    #pricing {
        display: block;
    }

    .pricing_heading3 {
        width: 20rem;
    }

    .pricing_check3 {
        margin: 0;
        padding: 0;
    }

}