.card_section img{
    border: 3px solid rgb(225, 31, 31);
    border-radius: 11px;
    height: 350px;
    width: 390px;
    margin:0 3rem;
}

.card_lower_heading{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (min-width:300px) and (max-width:768px){
    .card_section img{
        height: 400px;
        width: 100%;
        margin:0;
    }
}

